body {
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#content {
    display: grid;
    /* grid-template-columns: 30% 40% 30%; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(200px, auto));
    /* grid-auto-rows: minmax(200px, auto); */
    max-width: 1080px;
    margin: 0 auto;
    gap: 20px;
    align-items: stretch;
    justify-items: stretch;
}

#content div {
    background: #3bbced;
    padding: 30px;
}

#content div:nth-child(even) {
    background: #777;
}

.one {
    align-self: start;
    justify-self: end;
}

.two {
    align-self: center;
    justify-self: center;
}

.three {
    align-self: end;
    justify-self: start;
}

.four {
    align-self: end;
    justify-self: end;
}

.five {
    align-self: center;
    justify-self: center;
}

.six {
    align-self: start;
    justify-self: start;
}
